<div class="page-header">
  <h1>
    Profiles
    <a href="/profiles/new" class="btn btn-lg btn-success">New Profile</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Source</th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>Rating</th>
        <th>Userid</th>
        <th>Actions</th>
      </tr>

      <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.source %></td>
        <td><%= profile.Title %></td>
        <td><%= profile.Description %></td>
        <td><%= profile.Link %></td>
        <td><%= profile.Rating %></td>
        <td><%= profile.UserId %></td>
        <td>
          <a href="/profiles/<%= profile.id %>" class="btn btn-primary">Show</a>
          <a href="/profiles/<%= profile.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_profile/<%= profile.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
