<!-- Validation failure messages -->
<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Profile</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_profile" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="control-label">
          Source
        </label>

        <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @profile.source %>">
      </div>

      <!-- Label and input for Title -->
      <div class="form-group">
        <label for="Title" class="control-label">
          Title
        </label>

        <textarea id="Title" name="Title" placeholder="Title" class="form-control" rows="3"><%= @profile.Title %></textarea>
      </div>

      <!-- Label and input for Description -->
      <div class="form-group">
        <label for="Description" class="control-label">
          Description
        </label>

        <textarea id="Description" name="Description" placeholder="Description" class="form-control" rows="3"><%= @profile.Description %></textarea>
      </div>

      <!-- Label and input for Link -->
      <div class="form-group">
        <label for="Link" class="control-label">
          Link
        </label>

        <input type="text" id="Link" name="Link" placeholder="Link" class="form-control" value="<%= @profile.Link %>">
      </div>

      <!-- Label and input for Rating -->
      <div class="form-group">
        <label for="Rating" class="control-label">
          Rating
        </label>

        <input type="text" id="Rating" name="Rating" placeholder="Rating" class="form-control" value="<%= @profile.Rating %>">
      </div>

      <!-- Label and input for UserId -->
      <div class="form-group">
        <label for="UserId" class="control-label">
          Userid
        </label>

        <input type="text" id="UserId" name="UserId" placeholder="Userid" class="form-control" value="<%= @profile.UserId %>">
      </div>

      <button class="btn btn-success">
        Create Profile
      </button>
      or
      <a href="/profiles">Cancel</a>
    </form>
  </div>
</div>
