<div class="page-header">
  <h3>Profile #<%= @profile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Source</dt>
      <dd><%= @profile.source %></dd>

      <dt>Title</dt>
      <dd><%= @profile.Title %></dd>

      <dt>Description</dt>
      <dd><%= @profile.Description %></dd>

      <dt>Link</dt>
      <dd><%= @profile.Link %></dd>

      <dt>Rating</dt>
      <dd><%= @profile.Rating %></dd>

      <dt>Userid</dt>
      <dd><%= @profile.UserId %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/profiles" class="btn btn-primary">
        Back
      </a>
      <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_profile/<%= @profile.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
