<div class="page-header">
  <h1>
    Videos
    <a href="/videos/new" class="btn btn-lg btn-success">New Video</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Source</th>
        <th>Name</th>
        <th>Tag1</th>
        <th>Tag2</th>
        <th>Tag3</th>
        <th>Tag4</th>
        <th>Tag5</th>
        <th>Anonymity</th>
        <th>Timer</th>
        <th>Videolength</th>
        <th>Totalviews</th>
        <th>Rating</th>
        <th>Userid</th>
        <th>Videoid</th>
        <th>Actions</th>
      </tr>

      <% @videos.each do |video| %>
      <tr>
        <td><%= video.source %></td>
        <td><%= video.Name %></td>
        <td><%= video.Tag1 %></td>
        <td><%= video.Tag2 %></td>
        <td><%= video.Tag3 %></td>
        <td><%= video.Tag4 %></td>
        <td><%= video.Tag5 %></td>
        <td><%= video.Anonymity %></td>
        <td><%= video.Timer %></td>
        <td><%= video.VideoLength %></td>
        <td><%= video.TotalViews %></td>
        <td><%= video.Rating %></td>
        <td><%= video.UserId %></td>
        <td><%= video.VideoId %></td>
        <td>
          <a href="/videos/<%= video.id %>" class="btn btn-primary">Show</a>
          <a href="/videos/<%= video.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_video/<%= video.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
